<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpeechTelop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
      <SpeechTelop.Properties.Settings>
        <setting name="OutputFileTextBoxText" serializeAs="String">
          <value/>
        </setting>
        <setting name="SubscriptionKeyTextBoxText" serializeAs="String">
          <value/>
        </setting>
        <setting name="ShowSubscriptionKeyCheckBoxChecked" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ToLanguageComboBoxSelectedIndex" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="FromLanguageComboBoxSelectedIndex" serializeAs="String">
          <value>6</value>
        </setting>
        <setting name="SpeechTelopLocation" serializeAs="String">
          <value>300, 300</value>
        </setting>
        <setting name="HotKeyComboBoxSelectedIndex" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="AddShiftKeyCheckBox" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AddCtrlKeyCheckBox" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AddAltKeyCheckBox" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="HideAfterSecondsMaskedTextBoxText" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="ServiceRegionComboBoxSelectedIndex" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="EnableTextToSpeechCheckBoxChecked" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="VoiceNameComboBoxSelectedIndex" serializeAs="String">
          <value>0</value>
        </setting>
      </SpeechTelop.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
